@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-baloo: var(--font-baloo);
  --font-roboto: var(--font-roboto);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-baloo);
  margin: 0;
}

p {
  font-family: var(--font-roboto);
  line-height: 1.5;
}


code,
pre {
  font-family: monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

.font-baloo {
  font-family: var(--font-baloo);
}

.font-roboto {
  font-family: var(--font-roboto);
}